<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
id="com.abbypan.convertencode"
version="1.0">
<name>ConvertEncode</name>
<description>
   gb2312 to utf8 
</description>
<license>MIT</license>
<engines>
<engine name="cordova" version=">=3.0.0"/>
</engines>

<js-module src="www/ConvertEncode.js" name="ConvertEncode">
<clobbers target="window.plugins.ConvertEncode" />
</js-module>

<platform name="wp8">
<config-file target="config.xml" parent="/*">
<feature name="ConvertEncode">
<param name="wp-package" value="ConvertEncode"/>
</feature>
</config-file>
<source-file src="src/wp8/ConvertEncode.cs" />
</platform>

</plugin>
